[Desktop Entry]
Type=Application
TryExec=/usr/games/mednafen -video.fs 1 /usr/games/DOOM.gba
Exec=/usr/games/mednafen -video.fs 1 /usr/games/DOOM.gba
Icon=/usr/share/mechanix/shell/launcher/assets/icons/app_drawer/doom_icon.png
Terminal=false
Categories=System;

Name=DOOM
GenericName=DOOM
Comment=DOOM game app